body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el cuerpo y la página ocupen toda la altura disponible */
}
 {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
}


header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
}

#logo {
  width: 200px;
  lenght:200px;
}


nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}


main {
  flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
  padding: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

tfoot td {
  text-align: center;
  background-color: #f4f4f4;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px; /* Asegura que haya espacio entre el contenido y el pie */
}


section a {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

section a:hover {
  background-color: #45a049;
}
